<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8"> 
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    
    <style> @import url(//fonts.googleapis.com/earlyaccess/jejumyeongjo.css);
      body {font-family: 'Jeju Myeongjo', serif;} </style>

    <title>2 Col Portfolio - Start Bootstrap Template</title>

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="css/2-col-portfolio.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <!-- Page Content -->
    <div class="container">

        <!-- Page Header -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">*^^*
                    <small>응원합니다</small>
                </h1>
            </div>
        </div>
        <!-- /.row -->

        <!-- Projects Row -->
        <div class="row">
            <div class="col-md-6 portfolio-item">
                <a href="#">
                    <img class="img-responsive" src="https://file2.instiz.net/data/file2/2016/05/21/f/2/d/f2dfb9534f13b339d9a0c405365b288f.jpg" alt="">
                </a>
                <h3>
                    <a href="#">Couple Yoga one</a>
                </h3>
                <a href="https://www.youtube.com/watch?v=99uYEteT-UI"><p>https://www.youtube.com/watch?v=99uYEteT-UI</p></a>
            </div>
            <div class="col-md-6 portfolio-item">
                <a href="#">
                    <img class="img-responsive" src="http://cdn.skim.gs/image/upload/v1456342302/msi/partner-yoga-Double-Down-Dog-1_inodnq.jpg" alt="">
                </a>
                <h3>
                    <a href="#">Couple Yoga Two</a>
                </h3>
                <a href="https://www.youtube.com/watch?v=99uYEteT-UI"><p>https://www.youtube.com/watch?v=99uYEteT-UI</p></a>
            </div>
        </div>
        <!-- /.row -->

        <!-- Projects Row -->
        <div class="row">
            <div class="col-md-6 portfolio-item">
                <a href="#">
                    <img class="img-responsive" src="http://www.bstoday.kr/news/photo/201509/7138_5399_3914.jpg" alt="">
                </a>
                <h3>
                    <a href="#">Couple Yoga Three</a>
                </h3>
                <a href="https://www.youtube.com/watch?v=99uYEteT-UI"><p>https://www.youtube.com/watch?v=99uYEteT-UI</p></a>
            </div>
            <div class="col-md-6 portfolio-item">
                <a href="#">
                    <img class="img-responsive" src="http://www.bstoday.kr/news/photo/201509/7140_5400_4012.jpg" alt="">
                </a>
                <h3>
                    <a href="#">Couple Yoga Four</a>
                </h3>
                <a href="https://www.youtube.com/watch?v=99uYEteT-UI"><p>https://www.youtube.com/watch?v=99uYEteT-UI</p></a>
            </div>
        </div>
        <!-- /.row -->

        <!-- Projects Row -->
        <div class="row">
            <div class="col-md-6 portfolio-item">
                <a href="#">
                    <img class="img-responsive" src="http://img.hankyung.com/photo/201401/01.8250111.1.jpg" alt="">
                </a>
                <h3>
                    <a href="#">Couple Yoga Five</a>
                </h3>
                <a href="https://www.youtube.com/watch?v=99uYEteT-UI"><p>https://www.youtube.com/watch?v=99uYEteT-UI</p></a>
            </div>
            <div class="col-md-6 portfolio-item">
                <a href="#">
                    <img class="img-responsive" src="http://i1.daumcdn.net/svc/image/U03/tvpot_thumb/v07b6bmmb8msiMWe8EM82ei/thumb.png" alt="">
                </a>
                <h3>
                    <a href="#">Couple Yoga Six</a>
                </h3>
                <a href="https://www.youtube.com/watch?v=99uYEteT-UI"><p>https://www.youtube.com/watch?v=99uYEteT-UI</p></a>
            </div>
        </div>
        <!-- /.row -->
        
        <!-- Projects Row -->
        <div class="row">
            <div class="col-md-6 portfolio-item">
                <a href="#">
                    <img class="img-responsive" src="http://www.segye.com/content/image/2016/03/28/20160328001759_0.jpg" alt="">
                </a>
                <h3>
                    <a href="#">Couple Yoga Seven</a>
                </h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.</p>
            </div>
            <div class="col-md-6 portfolio-item">
                <a href="#">
                    <img class="img-responsive" src="http://i.dailymail.co.uk/i/pix/2017/04/19/11/3F602A6300000578-4424588-image-a-17_1492597805627.jpg" alt="">
                </a>
                <h3>
                    <a href="#">Couple Yoga Eight</a>
                </h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.</p>
            </div>
        </div>
        <!-- /.row -->

        <hr>

        <!-- Pagination -->
        <div class="row text-center">
            <div class="col-lg-12">
                <ul class="pagination">
                    <li>
                        <a href="#">&laquo;</a>
                    </li>
                    <li class="active">
                        <a href="#">1</a>
                    </li>
                    <li>
                        <a href="/si2">2</a>
                    </li>
                    <li>
                        <a href="#">3</a>
                    </li>
                    <li>
                        <a href="#">4</a>
                    </li>
                    <li>
                        <a href="#">5</a>
                    </li>
                    <li>
                        <a href="#">&raquo;</a>
                    </li>
                </ul>
            </div>
        </div>
        <!-- /.row -->

        <hr>

        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy; Your Website 2014</p>
                </div>
            </div>
            <!-- /.row -->
        </footer>

    </div>
    <!-- /.container -->

    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>
    
      <!-- Bootstrap Core CSS -->
       <%= stylesheet_link_tag    'bootstrap', media: 'all', 'data-turbolinks-track' => true %>
    <!--<link href="assets/bootstrap.min.css" rel="stylesheet">-->

    <!-- Custom CSS -->
     <%= stylesheet_link_tag    'landing-page', media: 'all', 'data-turbolinks-track' => true %>
    <!--<link href="assets/landing-page.css" rel="stylesheet">-->

</body>

</html>